<div class="flex flex-column align-items-center login-container fundo">
  <mat-card class="sm:col-12 md:col-6 lg:col-4 xl:col-3 flex flex-column p-5 ">
    <mat-card-content style="background-image: url(logo/logo.png);" class="img w-full h-12rem ">
    </mat-card-content>
    <mat-card-content >
      <mat-card-header>
        <mat-card-subtitle>
          <span>Login</span>
        </mat-card-subtitle>
      </mat-card-header>
      <form (ngSubmit)="onSubmit()" class="flex flex-column gap-1 mt-3">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="text" [(ngModel)]="username" name="username" placeholder="E-mail" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Senha" required />
        </mat-form-field>
        <mat-error *ngIf="errorMessage">
          E-mail ou senha estão incorretos
        </mat-error>
        <button type="submit" class="btn-default" mat-flat-button>Entrar</button>
      </form>
      <mat-card-actions align="end">
        <a mat-button class="ml-3 mr-3" routerLink="/register">
          Criar usuário
        </a>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
</div>
