@use '@angular/material' as mat;

mat-card {
  max-width: 40rem !important;
  @include mat.card-overrides((title-text-size: 35px,
    subtitle-text-size: 20px,
  ));
}


mat-card-title {
  width: 100%;
  text-align: center;
}

.login-container {
  padding: 7em 0;
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
