@use '@angular/material' as mat;

mat-card {
  max-width: 40rem !important;
  @include mat.card-overrides((title-text-size: 35px,
    subtitle-text-size: 20px,
  ));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  width: 100%;
  text-align: center;
}

.login-container {
  padding: 7em 0;
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fundo {
  background: linear-gradient(135deg, #22431a, #559754); // Gradiente de roxo para azul
  height: 100vh; // Garante que ocupe toda a altura da tela
  margin: 0; // Remove margem padrão do body
  display: flex;
  justify-content: center;
  align-items: center; // Centraliza o conteúdo vertical e horizontalmente
}
