@use '@angular/material' as mat;

mat-card {
  max-width: 40rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @include mat.card-overrides((title-text-size: 35px,
    subtitle-text-size: 20px,
  ));

}

.mat-mdc-card {
  background-color: rgba(255, 255, 255, 0.85); /* Cor branca com 85% de opacidade */
  border-color: rgba(255, 255, 255, 0.85);
}

mat-card-title {
  width: 100%;
  text-align: center;
}

.login-container {
  padding: 7em 0;
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.w-full {
  width: 90% !important;
}

.fundo {
  background: linear-gradient(180deg, #001840, #272729);
  height: 72.7vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
