@use '@angular/material' as mat;

mat-card {
  width: 450px;
  @include mat.card-overrides((title-text-size: 35px,
          subtitle-text-size: 20px,
      ));
}

.login-container {
  padding: 7em 0;
}