<h2 mat-dialog-title>Adicionar alimento</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field class="example-full-width">
      <mat-label>Alimentos</mat-label>
      <input #input
             type="text"
             placeholder="Selecione o alimento"
             matInput
             formControlName="description"
             [matAutocomplete]="auto"
             (input)="filter()"
             (focus)="filter()">
      <mat-autocomplete requireSelection autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions; track option) {
          <mat-option [value]="option">{{option.description}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="value" autofocus required>
      <mat-error>Campo Inválido</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="saveOrUpdate()" [disabled]="!formGroup.valid"
          cdkFocusInitial>Prosseguir</button>
</mat-dialog-actions>
