<mat-sidenav-container class="sidenav-container menu">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="font-bold text-white">Menu</mat-toolbar>

    <mat-nav-list>
      @for (menu of menuList; track menu.route) {
      <a mat-list-item class="ml-3 mr-3 menu-item " [routerLink]="menu.route" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="menu-btn-active" >
        {{ menu.title }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="text-white" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span  class="font-bold text-white" >DailyFit</span>
      <span class="navbar-spacer"></span>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/userprofile">Perfil</a>
        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon  class="text-white">person</mat-icon>
        <span  class=" text-white">
          {{profile.login.username}}
        </span>
      </button>
    </mat-toolbar>
    <div class="content">
      <div class="mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--O <router-outlet> é uma diretiva estrutural do Angular usada para indicar onde os
componentes associados às rotas devem ser renderizados.
Quando o usuário acessa uma URL que corresponde a uma rota configurada, o Angular insere o componente
associado a essa rota dentro do <router-outlet>.-->
