@use '@angular/material' as mat;

.sidenav-container {
  height: 100%;
}

.mat-mdc-list-item, .mat-mdc-list-option {
  width: 90%;
}

.mdc-list {
  --mdc-list-list-item-label-text-color: white;
  --mdc-list-list-item-label-text-weight: bold;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

mat-toolbar {
  background: linear-gradient(180deg, #7fb1c1, #001840);

}

mat-sidenav {
  background: linear-gradient(180deg, #7db1bf, #021b37);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 250px;
}

mat-sidenav-content.over {
  transition: margin-left 0.3s ease-in-out !important;
}
mat-sidenav-content.side {
  margin-left: 250px !important;
}

p{
  color: rgb(141, 139, 139);
  margin: 0;
  font-size: 1rem;
  padding: 0 18%;
  text-align: right;
}

mat-nav-list {
  a {
    color: white;

    &:hover {
      color: #cccccc;
    }

    &.menu-btn-active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
